table, th, td{font-size:13px; border:1px solid gray; border-collapse:collapse;}
table th,table td{padding:5px;}
#wrapper{padding: 0;margin: auto;text-align: center;}
body{margin: 0;padding: 0;}
table{margin-bottom: 7em!important;}
.red{background-color: #ffcccc;}
tr:hover {
  background-color:#ffb2b2!important;
  cursor: pointer;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
th{
  background-color: #3E2C4C;
  color: white;
  font-size: 1.2em;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}
caption
{
text-align: left;}
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
header{
  margin: 14em;
}
address{
  position: absolute;
  left: 43%;
  top: 5px;
  z-index: 10000;
  color: white!important;
  font-size: 1em;
}
h1{
  position: absolute;
  top:0.74em;
  z-index: 100000000;
  color: white!important;
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
  text-align: center;
  left: 37%;
}
.waveWrapper{
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -1;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 300px;
    /* bottom: -1px; */
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
#t1{
  z-index: 100000000000;
}
.container{
  margin-top: 25em;
}
@keyframes spin { 100% { -webkit-transform: scale(360deg); transform:rotate(360deg); } }
